/*
*
*
*
*
* (42/84) indexed characters!
*
*
*
*
*/

#character {
    position: absolute;
    z-index: 5;
    margin-top: -8px;
    background-repeat: no-repeat;
    list-style-type: none;
}

div[online] {
    position: absolute;
    z-index: 5;
    margin-top: -8px;
    background-repeat: no-repeat;
    list-style-type: none;
}

.shadow_jump {
    border-radius: 50%; 
    width: 20px; 
    height: 10px; 
    background: rgba(0, 0, 0, 0.45); 
    position: absolute;
    top: 25px; 
    left: 50%;
    margin-left: -10px;
}

.red {
    background: url(../img/characters.png);
    width: 17px;
    height: 25px;
}

.red_down {
    background-position: -71px -679px;
    height: 23px;
}

.red_down0 {
    background-position: -71px -710px;
}

.red_down1 {
    background-position: -71px -742px;
}

.red_left {
    background-position: -8px -711px;
    width: 16px;
    height: 23px;
}

.red_left0 {
    background-position: -8px -678px;
    width: 16px;
    height: 24px;
}

.red_left1 {
    background-position: -8px -742px;
    width: 16px;
    height: 23px;
}

.red_right {
    background-position: -40px -647px;
    width: 16px;
    height: 23px;
}

.red_right0 {
    background-position: -40px -678px;
    width: 16px;
    height: 24px;
}

.red_right1 {
    background-position: -40px -710px;
    width: 16px;
    height: 23px;
}

.red_up {
    background-position: -7px -647px;
    width: 17px;
    height: 23px;
}

.red_up0 {
    background-position: -39px -742px;
    width: 17px;
    height: 25px;
}

.red_up1 {
    background-position: -71px -646px;
    width: 17px;
    height: 25px;
}

.leaf {
    background: url(../img/characters.png);
    width: 19px;
    height: 23px;
    margin-left: -2px;
}

.leaf_down {
    background-position: -98px -1034px;
}

.leaf_down0 {
    background-position: -129px -1033px;
    width: 19px;
    height: 25px;
}

.leaf_down1 {
    background-position: -159px -1033px;
    width: 19px;
    height: 25px;
}

.leaf_left {
    background-position: -98px -1102px;
    width: 18px;
    height: 23px;
}

.leaf_left0 {
    background-position: -128px -1102px;
    width: 18px;
    height: 24px;
}

.leaf_left1 {
    background-position: -158px -1102px;
    width: 18px;
    height: 23px;
}

.leaf_right {
    background-position: -160px -1069px;
    width: 18px;
    height: 23px;
}

.leaf_right0 {
    background-position: -130px -1068px;
    width: 18px;
    height: 24px;
}

.leaf_right1 {
    background-position: -100px -1069px;
    width: 18px;
    height: 23px;
}

.leaf_up {
    background-position: -98px -1133px;
    width: 19px;
    height: 23px;
}

.leaf_up0 {
    background-position: -130px -1131px;
    width: 19px;
    height: 25px;
}

.leaf_up1 {
    background-position: -161px -1131px;
    width: 19px;
    height: 25px;
}

.brendan {
    background: url(../img/characters.png);
    width: 17px;
    height: 24px;
}

.brendan_down {
    background-position: -40px -1035px;
}

.brendan_down0 {
    background-position: -13px -1035px;
    width: 17px;
    height: 26px;
}

.brendan_down1 {
    background-position: -70px -1035px;
    width: 17px;
    height: 26px;
}

.brendan_left {
    background-position: -42px -1067px;
    width: 17px;
    height: 24px;
}

.brendan_left0 {
    background-position: -69px -1067px;
    width: 17px;
    height: 24px;
}

.brendan_left1 {
    background-position: -14px -1066px;
    width: 17px;
    height: 25px;
}

.brendan_right {
    background-position: -42px -1098px;
    width: 17px;
    height: 24px;
}

.brendan_right0 {
    background-position: -68px -1097px;
    width: 17px;
    height: 25px;
}

.brendan_right1 {
    background-position: -13px -1098px;
    width: 17px;
    height: 24px;
}

.brendan_up {
    background-position: -41px -1129px;
    width: 17px;
    height: 24px;
}

.brendan_up0 {
    background-position: -14px -1129px;
    width: 17px;
    height: 26px;
}

.brendan_up1 {
    background-position: -68px -1129px;
    width: 17px;
    height: 26px;
}

.ethan {
    background: url(../img/characters.png);
    width: 17px;
    height: 23px;
}

.ethan_down {
    background-position: -197px -1038px;
}

.ethan_down0 {
    background-position: -217px -1037px;
    width: 17px;
    height: 25px;
}

.ethan_down1 {
    background-position: -238px -1037px;
    width: 17px;
    height: 25px;
}

.ethan_left {
    background-position: -194px -1100px;
    width: 19px;
    height: 23px;
}

.ethan_left0 {
    background-position: -217px -1100px;
    width: 19px;
    height: 24px;
}

.ethan_left1 {
    background-position: -242px -1100px;
    width: 19px;
    height: 23px;
}

.ethan_right {
    background-position: -193px -1128px;
    width: 19px;
    height: 23px;
}

.ethan_right0 {
    background-position: -217px -1128px;
    width: 19px;
    height: 23px;
}

.ethan_right1 {
    background-position: -241px -1127px;
    width: 19px;
    height: 24px;
}

.ethan_up {
    background-position: -217px -1070px;
    width: 17px;
    height: 23px;
}

.ethan_up0 {
    background-position: -239px -1070px;
    width: 17px;
    height: 25px;
}

.ethan_up1 {
    background-position: -196px -1070px;
    width: 17px;
    height: 25px;
}

.kris {
    background: url(../img/characters.png);
    width: 23px;
    height: 23px;
    margin-left: -3px;
}

.kris_down {
    background-position: -302px -1039px;
}

.kris_down0 {
    background-position: -331px -1039px;
    width: 23px;
    height: 25px;
}

.kris_down1 {
    background-position: -273px -1039px;
    width: 23px;
    height: 25px;
}

.kris_left {
    background-position: -305px -1068px;
    width: 18px;
    height: 23px;
}

.kris_left0 {
    background-position: -282px -1068px;
    width: 19px;
    height: 24px;
}

.kris_left1 {
    background-position: -329px -1068px;
    width: 19px;
    height: 24px;
}

.kris_right {
    background-position: -305px -1126px;
    width: 18px;
    height: 23px;
}

.kris_right0 {
    background-position: -280px -1126px;
    width: 18px;
    height: 24px;
}

.kris_right1 {
    background-position: -329px -1126px;
    width: 18px;
    height: 24px;
}

.kris_up {
    background-position: -301px -1096px;
    width: 25px;
    height: 24px;
}

.kris_up0 {
    background-position: -272px -1096px;
    width: 25px;
    height: 26px;
}

.kris_up1 {
    background-position: -330px -1096px;
    width: 25px;
    height: 26px;
}

.lucas {
    background: url(../img/characters.png);
    width: 17px;
    height: 23px;
}

.lucas_down {
    background-position: -369px -1037px;
}

.lucas_down0 {
    background-position: -402px -1036px;
    width: 17px;
    height: 25px;
}

.lucas_down1 {
    background-position: -434px -1036px;
    width: 17px;
    height: 25px;
}

.lucas_left {
    background-position: -434px -1131px;
    width: 17px;
    height: 23px;
}

.lucas_left0 {
    background-position: -401px -1130px;
    width: 17px;
    height: 24px;
}

.lucas_left1 {
    background-position: -369px -1130px;
    width: 17px;
    height: 23px;
}

.lucas_right {
    background-position: -370px -1103px;
    width: 17px;
    height: 23px;
}

.lucas_right0 {
    background-position: -403px -1102px;
    width: 17px;
    height: 24px;
}

.lucas_right1 {
    background-position: -435px -1102px;
    width: 17px;
    height: 23px;
}

.lucas_up {
    background-position: -369px -1070px;
    width: 17px;
    height: 23px;
}

.lucas_up0 {
    background-position: -402px -1069px;
    width: 17px;
    height: 25px;
}

.lucas_up1 {
    background-position: -434px -1069px;
    width: 17px;
    height: 25px;
}

.dawn {
    background: url(../img/characters.png);
    width: 17px;
    height: 24px;
}

.dawn_down {
    background-position: -469px -1037px;
}

.dawn_down0 {
    background-position: -503px -1036px;
    width: 18px;
    height: 26px;
}

.dawn_down1 {
    background-position: -539px -1036px;
    width: 18px;
    height: 26px;
}

.dawn_left {
    background-position: -469px -1068px;
    width: 17px;
    height: 24px;
}

.dawn_left0 {
    background-position: -504px -1068px;
    width: 18px;
    height: 24px;
}

.dawn_left1 {
    background-position: -539px -1067px;
    width: 16px;
    height: 25px;
}

.dawn_right {
    background-position: -468px -1096px;
    width: 17px;
    height: 24px;
}

.dawn_right0 {
    background-position: -504px -1095px;
    width: 16px;
    height: 25px;
}

.dawn_right1 {
    background-position: -537px -1096px;
    width: 18px;
    height: 24px;
}

.dawn_up {
    background-position: -468px -1126px;
    width: 17px;
    height: 23px;
}

.dawn_up0 {
    background-position: -502px -1125px;
    width: 18px;
    height: 25px;
}

.dawn_up1 {
    background-position: -538px -1125px;
    width: 18px;
    height: 25px;
}

.blue {
    background: url(../img/characters.png);
    width: 18px;
    height: 27px;
    margin-top: -11px !important;
    margin-left: -1.5px;
}

.blue_down {
    background-position: -931px -547px;
}

.blue_down0 {
    background-position: -931px -578px;
    width: 18px;
    height: 29px;
}

.blue_down1 {
    background-position: -931px -610px;
    width: 18px;
    height: 29px;
}

.blue_left {
    background-position: -868px -579px;
    width: 18px;
    height: 27px;
}

.blue_left0 {
    background-position: -868px -610px;
    width: 18px;
    height: 28px;
}

.blue_left1 {
    background-position: -868px -546px;
    width: 18px;
    height: 28px;
}

.blue_right {
    background-position: -900px -515px;
    width: 18px;
    height: 27px;
}

.blue_right0 {
    background-position: -900px -546px;
    width: 18px;
    height: 28px;
}

.blue_right1 {
    background-position: -900px -578px;
    width: 18px;
    height: 28px;
}

.blue_up {
    background-position: -867px -515px;
    width: 18px;
    height: 27px;
}

.blue_up0 {
    background-position: -899px -610px;
    width: 18px;
    height: 29px;
}

.blue_up1 {
    background-position: -931px -514px;
    width: 17px;
    height: 29px;
}

.silver {
    background: url(../img/characters.png);
    width: 19px;
    height: 26px;
    margin-top: -10px !important;
    margin-left: -1.5px;
}

.silver_down {
    background-position: -166px -36px;
}

.silver_down0 {
    background-position: -166px -67px;
    width: 19px;
    height: 28px;
}

.silver_down1 {
    background-position: -166px -99px;
    width: 19px;
    height: 28px;
}

.silver_left {
    background-position: -104px -69px;
    width: 17px;
    height: 25px;
}

.silver_left0 {
    background-position: -104px -36px;
    width: 17px;
    height: 26px;
}

.silver_left1 {
    background-position: -104px -100px;
    width: 17px;
    height: 26px;
}

.silver_right {
    background-position: -135px -5px;
    width: 17px;
    height: 25px;
}

.silver_right0 {
    background-position: -135px -36px;
    width: 17px;
    height: 26px;
}

.silver_right1 {
    background-position: -135px -68px;
    width: 17px;
    height: 26px;
}

.silver_up {
    background-position: -103px -4px;
    width: 17px;
    height: 26px;
}

.silver_up0 {
    background-position: -135px -99px;
    width: 17px;
    height: 28px;
}

.silver_up1 {
    background-position: -167px -3px;
    width: 17px;
    height: 28px;
}

.steven {
    background: url(../img/characters.png);
    width: 20px;
    height: 26px;
    margin-left: -2px;
    margin-top: -10px !important;
}

.steven_down {
    background-position: -262px -36px;
}

.steven_down0 {
    background-position: -262px -67px;
    width: 20px;
    height: 28px;
}

.steven_down1 {
    background-position: -262px -99px;
    width: 20px;
    height: 28px;
}

.steven_left {
    background-position: -200px -69px;
    width: 18px;
    height: 25px;
}

.steven_left0 {
    background-position: -200px -100px;
    width: 18px;
    height: 26px;
}

.steven_left1 {
    background-position: -200px -36px;
    width: 18px;
    height: 26px;
}

.steven_right {
    background-position: -230px -5px;
    width: 18px;
    height: 25px;
}

.steven_right0 {
    background-position: -230px -36px;
    width: 18px;
    height: 26px;
}

.steven_right1 {
    background-position: -230px -68px;
    width: 18px;
    height: 26px;
}

.steven_up {
    background-position: -197px -4px;
    width: 20px;
    height: 26px;
}

.steven_up0 {
    background-position: -229px -99px;
    width: 20px;
    height: 28px;
}

.steven_up1 {
    background-position: -261px -3px;
    width: 20px;
    height: 28px;
}

.lance {
    background: url(../img/characters.png);
    width: 17px;
    height: 27px;
    margin-top: -10px !important;
}

.lance_down {
    background-position: -70px -547px;
}

.lance_down0 {
    background-position: -68px -578px;
    width: 19px;
    height: 29px;
}

.lance_down1 {
    background-position: -70px -610px;
    width: 19px;
    height: 29px;
}

.lance_left {
    background-position: -8px -580px;
    width: 17px;
    height: 26px;
}

.lance_left0 {
    background-position: -8px -547px;
    width: 17px;
    height: 27px;
}

.lance_left1 {
    background-position: -8px -611px;
    width: 17px;
    height: 27px;
}

.lance_right {
    background-position: -37px -516px;
    width: 17px;
    height: 26px;
}

.lance_right0 {
    background-position: -37px -547px;
    width: 17px;
    height: 27px;
}

.lance_right1 {
    background-position: -37px -579px;
    width: 17px;
    height: 27px;
}

.lance_up {
    background-position: -6px -515px;
    width: 17px;
    height: 27px;
}

.lance_up0 {
    background-position: -39px -610px;
    width: 16px;
    height: 28px;
}

.lance_up1 {
    background-position: -70px -514px;
    width: 16px;
    height: 28px;
}

.elm {
    background: url(../img/characters.png);
    width: 17px;
    height: 24px;
}

.elm_down {
    background-position: -71px -38px;
}

.elm_down0 {
    background-position: -71px -69px;
    width: 17px;
    height: 26px;
}

.elm_down1 {
    background-position: -71px -101px;
    width: 17px;
    height: 26px;
}

.elm_left {
    background-position: -10px -70px;
    width: 14px;
    height: 24px;
}

.elm_left0 {
    background-position: -10px -37px;
    width: 14px;
    height: 25px;
}

.elm_left1 {
    background-position: -10px -101px;
    width: 14px;
    height: 25px;
}

.elm_right {
    background-position: -40px -6px;
    width: 14px;
    height: 24px;
}

.elm_right0 {
    background-position: -40px -37px;
    width: 14px;
    height: 25px;
}

.elm_right1 {
    background-position: -40px -69px;
    width: 14px;
    height: 25px;
}

.elm_up {
    background-position: -7px -6px;
    width: 17px;
    height: 24px;
}

.elm_up0 {
    background-position: -71px -5px;
    width: 17px;
    height: 26px;
}

.elm_up1 {
    background-position: -39px -101px;
    width: 17px;
    height: 26px;
}

.rowan {
    background: url(../img/characters.png);
    width: 17px;
    height: 25px;
}

.rowan_down {
    background-position: -627px -1064px;
}

.rowan_down0 {
    background-position: -627px -1097px;
}

.rowan_down1 {
    background-position: -627px -1129px;
}

.rowan_left {
    background-position: -564px -1096px;
    width: 16px;
}

.rowan_left0 {
    background-position: -564px -1129px;
    width: 16px;
}

.rowan_left1 {
    background-position: -564px -1065px;
    width: 16px;
}

.rowan_right {
    background-position: -596px -1032px;
    width: 16px;
}

.rowan_right0 {
    background-position: -596px -1097px;
    width: 16px;
}

.rowan_right1 {
    background-position: -596px -1065px;
    width: 16px;
}

.rowan_up {
    background-position: -563px -1032px;
    width: 17px;
}

.rowan_up0 {
    background-position: -627px -1033px;
}

.rowan_up1 {
    background-position: -595px -1129px;
}

.misty {
    background: url(../img/characters.png);
    width: 18px;
    height: 26px;
}

.misty_down {
    background-position: -453px -548px;
}

.misty_down0 {
    background-position: -453px -579px;
    width: 18px;
    height: 28px;
}

.misty_down1 {
    background-position: -453px -611px;
    width: 18px;
    height: 28px;
}

.misty_left {
    background-position: -392px -580px;
    width: 16px;
    height: 26px;
}

.misty_left0 {
    background-position: -392px -611px;
    width: 16px;
    height: 27px;
}

.misty_left1 {
    background-position: -392px -547px;
    width: 16px;
    height: 27px;
}

.misty_right {
    background-position: -422px -516px;
    width: 16px;
    height: 26px;
}

.misty_right0 {
    background-position: -422px -547px;
    width: 16px;
    height: 27px;
}

.misty_right1 {
    background-position: -422px -579px;
    width: 16px;
    height: 27px;
}

.misty_up {
    background-position: -390px -516px;
    width: 18px;
    height: 26px;
}

.misty_up0 {
    background-position: -422px -611px;
    width: 18px;
    height: 28px;
}

.misty_up1 {
    background-position: -454px -515px;
    width: 18px;
    height: 28px;
}

.brock {
    background: url(../img/characters.png);
    width: 17px;
    height: 26px;
}

.brock_down {
    background-position: -742px -548px;
}

.brock_down0 {
    background-position: -742px -579px;
    width: 17px;
    height: 28px;
}

.brock_down1 {
    background-position: -742px -611px;
    width: 17px;
    height: 28px;
}

.brock_left {
    background-position: -679px -580px;
    width: 18px;
    height: 26px;
}

.brock_left0 {
    background-position: -679px -547px;
    width: 18px;
    height: 27px;
}

.brock_left1 {
    background-position: -679px -611px;
    width: 18px;
    height: 27px;
}

.brock_right {
    background-position: -709px -516px;
    width: 18px;
    height: 26px;
}

.brock_right0 {
    background-position: -709px -547px;
    width: 18px;
    height: 27px;
}

.brock_right1 {
    background-position: -709px -579px;
    width: 18px;
    height: 27px;
}

.brock_up {
    background-position: -678px -516px;
    width: 17px;
    height: 26px;
}

.brock_up0 {
    background-position: -710px -611px;
    width: 17px;
    height: 28px;
}

.brock_up1 {
    background-position: -742px -515px;
    width: 17px;
    height: 28px;
}

.ltsurge {
    background: url(../img/characters.png);
    width: 17px;
    height: 25px;
}

.ltsurge_down {
    background-position: -262px -549px;
}

.ltsurge_down0 {
    background-position: -262px -580px;
    width: 17px;
    height: 27px;
}

.ltsurge_down1 {
    background-position: -262px -612px;
    width: 17px;
    height: 27px;
}

.ltsurge_left {
    background-position: -201px -581px;
    width: 15px;
    height: 25px;
}

.ltsurge_left0 {
    background-position: -201px -612px;
    width: 15px;
    height: 26px;
}

.ltsurge_left1 {
    background-position: -201px -548px;
    width: 15px;
    height: 26px;
}

.ltsurge_right {
    background-position: -230px -517px;
    width: 15px;
    height: 25px;
}

.ltsurge_right0 {
    background-position: -230px -548px;
    width: 15px;
    height: 26px;
}

.ltsurge_right1 {
    background-position: -230px -580px;
    width: 15px;
    height: 26px;
}

.ltsurge_up {
    background-position: -198px -517px;
    width: 17px;
    height: 25px;
}

.ltsurge_up0 {
    background-position: -262px -516px;
    width: 17px;
    height: 27px;
}

.ltsurge_up1 {
    background-position: -230px -612px;
    width: 17px;
    height: 27px;
}

.falkner {
    background: url(../img/characters.png);
    width: 18px;
    height: 25px;
    /*margin-left: -9px !important;*/
}

.falkner_down {
    background-position: -835px -293px;
}

.falkner_down0 {
    background-position: -835px -324px;
    width: 18px;
    height: 27px;
}

.falkner_down1 {
    background-position: -835px -356px;
    width: 18px;
    height: 27px;
}

.falkner_left {
    background-position: -772px -325px;
    width: 18px;
    height: 25px;
}

.falkner_left0 {
    background-position: -772px -292px;
    width: 18px;
    height: 26px;
}

.falkner_left1 {
    background-position: -772px -356px;
    width: 18px;
    height: 26px;
}

.falkner_right {
    background-position: -804px -261px;
    width: 18px;
    height: 25px;
}

.falkner_right0 {
    background-position: -804px -292px;
    width: 18px;
    height: 26px;
}

.falkner_right1 {
    background-position: -804px -324px;
    width: 18px;
    height: 26px;
}

.falkner_up {
    background-position: -772px -261px;
    width: 18px;
    height: 25px;
}

.falkner_up0 {
    background-position: -836px -260px;
    width: 18px;
    height: 27px;
}

.falkner_up1 {
    background-position: -804px -356px;
    width: 18px;
    height: 27px;
}

.bugsy {
    background: url(../img/characters.png);
    width: 17px;
    height: 23px;
}

.bugsy_down {
    background-position: -932px -295px;
}

.bugsy_down0 {
    background-position: -932px -326px;
    width: 17px;
    height: 25px;
}

.bugsy_down1 {
    background-position: -932px -358px;
    width: 17px;
    height: 25px;
}

.bugsy_left {
    background-position: -869px -327px;
    width: 17px;
    height: 23px;
}

.bugsy_left0 {
    background-position: -869px -358px;
    width: 17px;
    height: 24px;
}

.bugsy_left1 {
    background-position: -869px -294px;
    width: 17px;
    height: 24px;
}

.bugsy_right {
    background-position: -900px -263px;
    width: 17px;
    height: 23px;
}

.bugsy_right0 {
    background-position: -900px -294px;
    width: 17px;
    height: 24px;
}

.bugsy_right1 {
    background-position: -900px -326px;
    width: 17px;
    height: 24px;
}

.bugsy_up {
    background-position: -868px -263px;
    width: 17px;
    height: 23px;
}

.bugsy_up0 {
    background-position: -932px -262px;
    width: 17px;
    height: 25px;
}

.bugsy_up1 {
    background-position: -900px -358px;
    width: 17px;
    height: 25px;
}

.whitney {
    background: url(../img/characters.png);
    width: 23px;
    height: 23px;
    margin-left: -4px;
}

.whitney_down {
    background-position: -67px -423px;
}

.whitney_down0 {
    background-position: -67px -454px;
    width: 23px;
    height: 25px;
}

.whitney_down1 {
    background-position: -67px -486px;
    width: 23px;
    height: 25px;
}

.whitney_left {
    background-position: -8px -455px;
    width: 18px;
    height: 23px;
}

.whitney_left0 {
    background-position: -8px -486px;
    width: 18px;
    height: 24px;
}

.whitney_left1 {
    background-position: -8px -422px;
    width: 18px;
    height: 24px;
}

.whitney_right {
    background-position: -36px -391px;
    width: 18px;
    height: 23px;
}

.whitney_right0 {
    background-position: -36px -422px;
    width: 18px;
    height: 24px;
}

.whitney_right1 {
    background-position: -36px -454px;
    width: 18px;
    height: 24px;
}

.whitney_up {
    background-position: -3px -391px;
    width: 23px;
    height: 23px;
}

.whitney_up0 {
    background-position: -67px -390px;
    width: 23px;
    height: 25px;
}

.whitney_up1 {
    background-position: -35px -486px;
    width: 23px;
    height: 25px;
}

.morty {
    background: url(../img/characters.png);
    width: 17px;
    height: 25px;
}

.morty_down {
    background-position: -166px -421px;
}

.morty_down0 {
    background-position: -167px -452px;
    width: 16px;
    height: 27px;
}

.morty_down1 {
    background-position: -166px -484px;
    width: 16px;
    height: 27px;
}

.morty_left {
    background-position: -104px -453px;
    width: 15px;
    height: 25px;
}

.morty_left0 {
    background-position: -104px -484px;
    width: 15px;
    height: 26px;
}

.morty_left1 {
    background-position: -104px -420px;
    width: 15px;
    height: 26px;
}

.morty_right {
    background-position: -135px -389px;
    width: 15px;
    height: 25px;
}

.morty_right0 {
    background-position: -135px -420px;
    width: 15px;
    height: 26px;
}

.morty_right1 {
    background-position: -135px -452px;
    width: 15px;
    height: 26px;
}

.morty_up {
    background-position: -102px -388px;
    width: 17px;
    height: 26px;
}

.morty_up0 {
    background-position: -166px -387px;
    width: 16px;
    height: 28px;
}

.morty_up1 {
    background-position: -135px -483px;
    width: 16px;
    height: 28px;
}

.chuck {
    background: url(../img/characters.png);
    width: 23px;
    height: 26px;
    margin-left: -4px;
}

.chuck_down {
    background-position: -259px -420px;
}

.chuck_down0 {
    background-position: -260px -451px;
    width: 22px;
    height: 28px;
}

.chuck_down1 {
    background-position: -259px -483px;
    width: 22px;
    height: 28px;
}

.chuck_left {
    background-position: -200px -451px;
    width: 15px;
    height: 27px;
}

.chuck_left0 {
    background-position: -199px -482px;
    width: 16px;
    height: 28px;
}

.chuck_left1 {
    background-position: -199px -418px;
    width: 16px;
    height: 28px;
}

.chuck_right {
    background-position: -231px -387px;
    width: 15px;
    height: 27px;
}

.chuck_right0 {
    background-position: -231px -418px;
    width: 16px;
    height: 28px;
}

.chuck_right1 {
    background-position: -231px -450px;
    width: 16px;
    height: 28px;
}

.chuck_up {
    background-position: -195px -388px;
    width: 23px;
    height: 26px;
}

.chuck_up0 {
    background-position: -259px -387px;
    width: 22px;
    height: 28px;
}

.chuck_up1 {
    background-position: -228px -483px;
    width: 22px;
    height: 28px;
}

.jasmine {
    background: url(../img/characters.png);
    width: 21px;
    height: 22px;
    margin-left: -2.3px;
}

.jasmine_down {
    background-position: -356px -424px;
}

.jasmine_down0 {
    background-position: -356px -455px;
    width: 21px;
    height: 24px;
}

.jasmine_down1 {
    background-position: -356px -487px;
    width: 21px;
    height: 24px;
}

.jasmine_left {
    background-position: -297px -456px;
    width: 15px;
    height: 22px;
}

.jasmine_left0 {
    background-position: -297px -487px;
    width: 15px;
    height: 23px;
}

.jasmine_left1 {
    background-position: -297px -423px;
    width: 16px;
    height: 23px;
}

.jasmine_right {
    background-position: -326px -392px;
    width: 15px;
    height: 22px;
}

.jasmine_right0 {
    background-position: -326px -455px;
    width: 15px;
    height: 23px;
}

.jasmine_right1 {
    background-position: -325px -423px;
    width: 16px;
    height: 23px;
}

.jasmine_up {
    background-position: -292px -392px;
    width: 21px;
    height: 22px;
}

.jasmine_up0 {
    background-position: -324px -487px;
    width: 21px;
    height: 24px;
}

.jasmine_up1 {
    background-position: -356px -391px;
    width: 21px;
    height: 24px;
}

.pryce {
    background: url(../img/characters.png);
    width: 19px;
    height: 27px;
    margin-left: -2px;
}

.pryce_down {
    background-position: -453px -419px;
}

.pryce_down0 {
    background-position: -453px -450px;
    width: 19px;
    height: 29px;
}

.pryce_down1 {
    background-position: -453px -482px;
    width: 19px;
    height: 29px;
}

.pryce_left {
    background-position: -392px -452px;
    width: 16px;
    height: 26px;
}

.pryce_left0 {
    background-position: -392px -419px;
    width: 16px;
    height: 27px;
}

.pryce_left1 {
    background-position: -392px -483px;
    width: 16px;
    height: 27px;
}

.pryce_right {
    background-position: -422px -388px;
    width: 16px;
    height: 27px;
}

.pryce_right0 {
    background-position: -422px -419px;
    width: 16px;
    height: 27px;
}

.pryce_right1 {
    background-position: -422px -451px;
    width: 16px;
    height: 27px;
}

.pryce_up {
    background-position: -389px -387px;
    width: 19px;
    height: 27px;
}

.pryce_up0 {
    background-position: -453px -386px;
    width: 19px;
    height: 29px;
}

.pryce_up1 {
    background-position: -421px -482px;
    width: 19px;
    height: 29px;
}

.clair {
    background: url(../img/characters.png);
    width: 19px;
    height: 27px;
    margin-left: -2px;
}

.clair_down {
    background-position: -549px -419px;
}

.clair_down0 {
    background-position: -548px -450px;
    width: 20px;
    height: 29px;
}

.clair_down1 {
    background-position: -549px -482px;
    width: 20px;
    height: 29px;
}

.clair_left {
    background-position: -486px -452px;
    width: 24px;
    height: 26px;
}

.clair_left0 {
    background-position: -486px -419px;
    width: 25px;
    height: 27px;
}

.clair_left1 {
    background-position: -486px -483px;
    width: 23px;
    height: 27px;
}

.clair_right {
    background-position: -512px -388px;
    width: 24px;
    height: 26px;
}

.clair_right0 {
    background-position: -515px -419px;
    width: 25px;
    height: 27px;
}

.clair_right1 {
    background-position: -513px -451px;
    width: 23px;
    height: 27px;
}

.clair_up {
    background-position: -485px -387px;
    width: 19px;
    height: 27px;
}

.clair_up0 {
    background-position: -549px -386px;
    width: 19px;
    height: 29px;
}

.clair_up1 {
    background-position: -517px -482px;
    width: 19px;
    height: 29px;
}

.will {
    background: url(../img/characters.png);
    width: 17px;
    height: 24px;
}

.will_down {
    background-position: -646px -422px;
}

.will_down0 {
    background-position: -646px -453px;
    width: 17px;
    height: 26px;
}

.will_down1 {
    background-position: -646px -485px;
    width: 17px;
    height: 26px;
}

.will_left {
    background-position: -584px -454px;
    width: 16px;
    height: 24px;
}

.will_left0 {
    background-position: -584px -485px;
    width: 16px;
    height: 25px;
}

.will_left1 {
    background-position: -584px -421px;
    width: 16px;
    height: 25px;
}

.will_right {
    background-position: -614px -390px;
    width: 16px;
    height: 24px;
}

.will_right0 {
    background-position: -614px -421px;
    width: 16px;
    height: 25px;
}

.will_right1 {
    background-position: -614px -453px;
    width: 16px;
    height: 25px;
}

.will_up {
    background-position: -582px -390px;
    width: 17px;
    height: 24px;
}

.will_up0 {
    background-position: -646px -389px;
    width: 17px;
    height: 26px;
}

.will_up1 {
    background-position: -614px -485px;
    width: 17px;
    height: 26px;
}

.bill {
    background: url(../img/characters.png);
    width: 19px;
    height: 25px;
    margin-left: -1.5px;
}

.bill_down {
    background-position: -165px -805px;
}

.bill_down0 {
    background-position: -165px -836px;
    width: 19px;
    height: 27px;
}

.bill_down1 {
    background-position: -165px -868px;
    width: 19px;
    height: 27px;
}

.bill_left {
    background-position: -104px -837px;
    width: 16px;
    height: 25px;
}

.bill_left0 {
    background-position: -104px -868px;
    width: 16px;
    height: 26px;
}

.bill_left1 {
    background-position: -104px -804px;
    width: 16px;
    height: 26px;
}

.bill_right {
    background-position: -134px -773px;
    width: 16px;
    height: 25px;
}

.bill_right0 {
    background-position: -134px -804px;
    width: 16px;
    height: 26px;
}

.bill_right1 {
    background-position: -134px -836px;
    width: 16px;
    height: 26px;
}

.bill_up {
    background-position: -101px -773px;
    width: 19px;
    height: 25px;
}

.bill_up0 {
    background-position: -133px -868px;
    width: 19px;
    height: 27px;
}

.bill_up1 {
    background-position: -165px -772px;
    width: 19px;
    height: 27px;
}

.rocket-boy {
    background: url(../img/characters.png);
    width: 17px;
    height: 25px;
}

.rocket-boy_down {
    background-position: -454px -677px;
}

.rocket-boy_down0 {
    background-position: -454px -708px;
    width: 17px;
    height: 27px;
}

.rocket-boy_down1 {
    background-position: -454px -740px;
    width: 17px;
    height: 27px;
}

.rocket-boy_left {
    background-position: -390px -709px;
    width: 18px;
    height: 25px;
}

.rocket-boy_left0 {
    background-position: -390px -740px;
    width: 18px;
    height: 26px;
}

.rocket-boy_left1 {
    background-position: -390px -676px;
    width: 18px;
    height: 26px;
}

.rocket-boy_right {
    background-position: -422px -645px;
    width: 18px;
    height: 25px;
}

.rocket-boy_right0 {
    background-position: -422px -676px;
    width: 18px;
    height: 26px;
}

.rocket-boy_right1 {
    background-position: -422px -708px;
    width: 18px;
    height: 26px;
}

.rocket-boy_up {
    background-position: -390px -645px;
    width: 17px;
    height: 25px;
}

.rocket-boy_up0 {
    background-position: -422px -740px;
    width: 17px;
    height: 27px;
}

.rocket-boy_up1 {
    background-position: -454px -644px;
    width: 17px;
    height: 27px;
}

.rocket-girl {
    background: url(../img/characters.png);
    width: 17px;
    height: 25px;
}

.rocket-girl_down {
    background-position: -358px -677px;
}

.rocket-girl_down0 {
    background-position: -358px -708px;
    width: 18px;
    height: 27px;
}

.rocket-girl_down1 {
    background-position: -357px -740px;
    width: 18px;
    height: 27px;
}

.rocket-girl_left {
    background-position: -294px -709px;
    width: 18px;
    height: 25px;
}

.rocket-girl_left0 {
    background-position: -294px -676px;
    width: 18px;
    height: 26px;
}

.rocket-girl_left1 {
    background-position: -294px -740px;
    width: 18px;
    height: 26px;
}

.rocket-girl_right {
    background-position: -326px -645px;
    width: 18px;
    height: 25px;
}

.rocket-girl_right0 {
    background-position: -326px -676px;
    width: 18px;
    height: 26px;
}

.rocket-girl_right1 {
    background-position: -326px -708px;
    width: 18px;
    height: 26px;
}

.rocket-girl_up {
    background-position: -294px -645px;
    width: 17px;
    height: 25px;
}

.rocket-girl_up0 {
    background-position: -358px -644px;
    width: 17px;
    height: 27px;
}

.rocket-girl_up1 {
    background-position: -326px -740px;
    width: 17px;
    height: 27px;
}

/* menininho moreno blusa azul e calça marrom*/

.nn0 {
    background: url(../img/characters.png);
    width: 17px;
    height: 24px;
}

.nn0_down {
    background-position: -263px -166px;
}

.nn0_down0 {
    background-position: -263px -229px;
    width: 17px;
    height: 26px;
}

.nn0_down1 {
    background-position: -263px -197px;
    width: 17px;
    height: 26px;
}

.nn0_left {
    background-position: -201px -198px;
    width: 17px;
    height: 24px;
}

.nn0_left0 {
    background-position: -201px -229px;
    width: 17px;
    height: 25px;
}

.nn0_left1 {
    background-position: -201px -165px;
    width: 17px;
    height: 25px;
}

.nn0_right {
    background-position: -230px -134px;
    width: 17px;
    height: 24px;
}

.nn0_right0 {
    background-position: -230px -165px;
    width: 17px;
    height: 25px;
}

.nn0_right1 {
    background-position: -230px -197px;
    width: 17px;
    height: 25px;
}

.nn0_up {
    background-position: -199px -134px;
    width: 17px;
    height: 24px;
}

.nn0_up0 {
    background-position: -263px -133px;
    width: 17px;
    height: 26px;
}

.nn0_up1 {
    background-position: -231px -229px;
    width: 17px;
    height: 26px;
}

/* meninina loira de azul com chuqinha rosa*/

.nn1 {
    background: url(../img/characters.png);
    width: 23px;
    height: 25px;
    margin-left: -3px !important;
    margin-top: -9.5px !important;
}

.nn1_down {
    background-position: -68px -165px;
}

.nn1_down0 {
    background-position: -68px -196px;
    width: 23px;
    height: 27px;
}

.nn1_down1 {
    background-position: -68px -228px;
    width: 23px;
    height: 27px;
}

.nn1_left {
    background-position: -8px -196px;
    width: 18px;
    height: 26px;
}

.nn1_left0 {
    background-position: -8px -163px;
    width: 19px;
    height: 27px;
}

.nn1_left1 {
    background-position: -8px -227px;
    width: 19px;
    height: 27px;
}

.nn1_right {
    background-position: -38px -132px;
    width: 18px;
    height: 26px;
}

.nn1_right0 {
    background-position: -37px -163px;
    width: 19px;
    height: 27px;
}

.nn1_right1 {
    background-position: -37px -195px;
    width: 19px;
    height: 27px;
}

.nn1_up {
    background-position: -4px -134px;
    width: 23px;
    height: 24px;
}

.nn1_up0 {
    background-position: -68px -133px;
    width: 23px;
    height: 26px;
}

.nn1_up1 {
    background-position: -36px -229px;
    width: 23px;
    height: 26px;
}

/* menino com boné*/

.nn2 {
    background: url(../img/characters.png);
    width: 19px;
    height: 24px;
}

.nn2_down {
    background-position: -740px -38px;
}

.nn2_down0 {
    background-position: -740px -69px;
    width: 19px;
    height: 26px;
}

.nn2_down1 {
    background-position: -740px -101px;
    width: 19px;
    height: 26px;
}

.nn2_left {
    background-position: -678px -71px;
    width: 17px;
    height: 23px;
}

.nn2_left0 {
    background-position: -678px -38px;
    width: 17px;
    height: 24px;
}

.nn2_left1 {
    background-position: -678px -102px;
    width: 17px;
    height: 24px;
}

.nn2_right {
    background-position: -707px -7px;
    width: 17px;
    height: 23px;
}

.nn2_right0 {
    background-position: -707px -38px;
    width: 17px;
    height: 24px;
}

.nn2_right1 {
    background-position: -707px -70px;
    width: 17px;
    height: 24px;
}

.nn2_up {
    background-position: -674px -6px;
    width: 19px;
    height: 24px;
}

.nn2_up0 {
    background-position: -706px -101px;
    width: 19px;
    height: 26px;
}

.nn2_up1 {
    background-position: -738px -5px;
    width: 19px;
    height: 26px;
}

/*caipira*/

.nn3 {
    background: url(../img/characters.png);
    width: 21px;
    height: 23px;
    margin-left: -10.5px;
}

.nn3_down {
    background-position: -834px -38px;
}

.nn3_down0 {
    background-position: -834px -69px;
    width: 21px;
    height: 25px;
}

.nn3_down1 {
    background-position: -834px -101px;
    width: 21px;
    height: 25px;
}

.nn3_left {
    background-position: -771px -70px;
    width: 21px;
    height: 23px;
}

.nn3_left0 {
    background-position: -771px -101px;
    width: 21px;
    height: 23px;
}

.nn3_left1 {
    background-position: -771px -37px;
    width: 21px;
    height: 24px;
}

.nn3_right {
    background-position: -802px -6px;
    width: 21px;
    height: 23px;
}

.nn3_right0 {
    background-position: -802px -37px;
    width: 21px;
    height: 24px;
}

.nn3_right1 {
    background-position: -802px -69px;
    width: 21px;
    height: 23px;
}

.nn3_up {
    background-position: -770px -6px;
    width: 21px;
    height: 23px;
}

.nn3_up0 {
    background-position: -802px -101px;
    width: 21px;
    height: 25px;
}

.nn3_up1 {
    background-position: -834px -5px;
    width: 21px;
    height: 25px;
}

/* menino loiro com cabelão*/

.nn4 {
    background: url(../img/characters.png);
    width: 19px;
    height: 24px;
    margin-left: -9.5px !important;
}

.nn4_down {
    background-position: -357px -166px;
}

.nn4_down0 {
    background-position: -357px -197px;
    width: 19px;
    height: 26px;
}

.nn4_down1 {
    background-position: -357px -229px;
    width: 19px;
    height: 26px;
}

.nn4_left {
    background-position: -296px -198px;
    width: 17px;
    height: 24px;
}

.nn4_left0 {
    background-position: -296px -229px;
    width: 17px;
    height: 25px;
}

.nn4_left1 {
    background-position: -296px -165px;
    width: 17px;
    height: 25px;
}

.nn4_right {
    background-position: -325px -134px;
    width: 17px;
    height: 24px;
}

.nn4_right0 {
    background-position: -325px -165px;
    width: 17px;
    height: 25px;
}

.nn4_right1 {
    background-position: -325px -197px;
    width: 17px;
    height: 25px;
}

.nn4_up {
    background-position: -293px -134px;
    width: 19px;
    height: 24px;
}

.nn4_up0 {
    background-position: -357px -133px;
    width: 19px;
    height: 26px;
}

.nn4_up1 {
    background-position: -325px -229px;
    width: 19px;
    height: 26px;
}

/* menina morena cabelo curto com blusa preta*/

.nn5 {
    background: url(../img/characters.png);
    width: 19px;
    height: 24px;
    margin-left: -9.5px !important;
}

.nn5_down {
    background-position: -932px -38px;
}

.nn5_down0 {
    background-position: -932px -69px;
    width: 18px;
    height: 26px;
}

.nn5_down1 {
    background-position: -932px -101px;
    width: 18px;
    height: 26px;
}

.nn5_left {
    background-position: -869px -70px;
    width: 17px;
    height: 24px;
}

.nn5_left0 {
    background-position: -869px -101px;
    width: 17px;
    height: 25px;
}

.nn5_left1 {
    background-position: -869px -37px;
    width: 17px;
    height: 25px;
}

.nn5_right {
    background-position: -900px -6px;
    width: 17px;
    height: 24px;
}

.nn5_right0 {
    background-position: -900px -69px;
    width: 17px;
    height: 25px;
}

.nn5_right1 {
    background-position: -900px -37px;
    width: 17px;
    height: 25px;
}

.nn5_up {
    background-position: -866px -6px;
    width: 19px;
    height: 24px;
}

.nn5_up0 {
    background-position: -899px -101px;
    width: 18px;
    height: 26px;
}

.nn5_up1 {
    background-position: -931px -5px;
    width: 18px;
    height: 26px;
}

/* velinha*/

.nn6 {
    background: url(../img/characters.png);
    width: 17px;
    height: 25px;
}
 
.nn6_down {
    background-position: -454px -37px;
}

 
.nn6_down0 {
    background-position: -454px -68px;
    width: 17px;
    height: 27px;
}

.nn6_down1 {
    background-position: -454px -100px;
    width: 17px;
    height: 27px;
}
 
.nn6_left {
    background-position: -391px -71px;
    width: 16px;
    height: 23px;
}
 
.nn6_left0 {
    background-position:-391px -102px;
    width: 16px;
    height: 24px;
}
 
.nn6_left1 {
    background-position:-391px -38px;
    width: 16px;
    height: 24px;
}
 
.nn6_right {
    background-position:  -423px -7px;
    width: 16px;
    height: 23px;
}
 
.nn6_right0 {
    background-position: -423px -38px;
    width: 16px;
    height: 24px;
}
 
.nn6_right1 {
    background-position:  -423px -70px;
    width: 16px;
    height: 24px;
}
 
.nn6_up {
    background-position: -390px -7px;
    width: 17px;
    height: 23px;
}
 
.nn6_up0 {
    background-position: -454px -6px;
    width: 17px;
    height: 25px;
}
 
.nn6_up1 {
    background-position: -422px -102px;
    width: 17px;
    height: 25px;
}

/* menino pequeno */

.nn7 {
    background: url(../img/characters.png);
    width: 17px;
    height: 19px;
}
 
.nn7_down {
    background-position: -549px -43px;
}

 
.nn7_down0 {
    background-position:-549px -74px;
    width: 17px;
    height: 21px;
}

.nn7_down1 {
    background-position: -549px -106px;
    width: 17px;
    height: 21px;
}
 
.nn7_left {
    background-position:-488px -75px;
    width: 14px;
    height: 19px;
}
 
.nn7_left0 {
    background-position:-488px -106px;
    width: 14px;
    height: 20px;
}
 
.nn7_left1 {
    background-position:-488px -42px;
    width: 14px;
    height: 20px;
}
 
.nn7_right {
    background-position: -518px -11px;
    width: 14px;
    height: 19px;
}
 
.nn7_right0 {
    background-position: -518px -42px;
    width: 14px;
    height: 20px;
}
 
.nn7_right1 {
    background-position: -518px -74px;
    width: 14px;
    height: 20px;
}
 
.nn7_up {
    background-position: -485px -11px;
    width: 17px;
    height: 19px;
}
 
.nn7_up0 {
    background-position: -549px -10px;
    width: 17px;
    height: 21px;
}
 
.nn7_up1 {
    background-position:-517px -106px;
    width: 17px;
    height: 21px;
}

/*menina pequena*/

.nn8 {
    background: url(../img/characters.png);
  width: 15px;
    height: 21px;
}
 
.nn8_down {
    background-position: -645px -41px;
}

 
.nn8_down0 {
    background-position:-645px -72px;
    width: 15px;
    height: 23px;
}

.nn8_down1 {
    background-position: -645px -104px;
    width: 15px;
    height: 23px;
}
 
.nn8_left {
    background-position:-583px -73px;
    width: 16px;
    height: 21px;
}
 
.nn8_left0 {
    background-position:-583px -40px;
    width: 16px;
    height: 22px;
}
 
.nn8_left1 {
    background-position:-583px -104px;
    width: 16px;
    height: 22px;
}
 
.nn8_right {
    background-position:-611px -9px;
    width: 16px;
    height: 21px;
}
 
.nn8_right0 {
    background-position: -611px -40px;
    width: 16px;
    height: 22px;
}
 
.nn8_right1 {
    background-position: -611px -72px;
    width: 16px;
    height: 22px;
}
 
.nn8_up {
    background-position: -581px -11px;
    width: 15px;
    height: 19px;
}
 
.nn8_up0 {
    background-position: -645px -10px;
    width: 15px;
    height: 21px;
}
 
.nn8_up1 {
    background-position:-613px -106px;
    width: 15px;
    height: 21px;
}

/*menina morena com franja */

.nn9 {
    background: url(../img/characters.png);
    width: 17px;
    height: 23px;
}
 
.nn9_down {
    background-position: -167px -167px;
}

.nn9_down0 {
    background-position:-167px -198px;
    width: 17px;
    height: 25px;
}

.nn9_down1 {
    background-position: -167px -230px;
    width: 17px;
    height: 25px;
}
 
.nn9_left {
    background-position:-105px -199px;
    width: 16px;
    height: 23px;
}
 
.nn9_left0 {
    background-position:-105px -230px;
    width: 16px;
    height: 24px;
}
 
.nn9_left1 {
    background-position:-105px -166px;
    width: 16px;
    height: 24px;
}
 
.nn9_right {
    background-position:-135px -135px;
    width: 16px;
    height: 23px;
}
 
.nn9_right0 {
    background-position: -135px -166px;
    width: 16px;
    height: 24px;
}
 
.nn9_right1 {
    background-position:-135px -198px;
    width: 16px;
    height: 24px;
}

.nn9_up {
    background-position: -103px -134px;
    width: 17px;
    height: 24px;
}
 
.nn9_up0 {
    background-position:-167px -133px;
    width: 17px;
    height: 26px;
}
 
.nn9_up1 {
    background-position:-135px -229px;
    width: 17px;
    height: 26px;
}

/*menino cabelo espetado e preto blusa vermelha */

.nn10 {
    background: url(../img/characters.png);
   width: 17px;
    height: 26px;
}
 
.nn10_down {
    background-position: -454px -164px;
}

 
.nn10_down0 {
    background-position:-455px -195px;
    width: 16px;
    height: 28px;
}

.nn10_down1 {
    background-position:-454px -227px;
    width: 16px;
    height: 28px;
}
 
.nn10_left {
    background-position:-393px -197px;
    width: 14px;
    height: 25px;
}
 
.nn10_left0 {
    background-position:-393px -164px;
    width: 14px;
    height: 26px;
}
 
.nn10_left1 {
    background-position:-393px -228px;
    width: 14px;
    height: 26px;
}
 
.nn10_right {
    background-position:-423px -133px;
    width: 14px;
    height: 25px;
}
 
.nn10_right0 {
    background-position: -423px -164px;
    width: 14px;
    height: 26px;
}
 
.nn10_right1 {
    background-position:-423px -196px;
    width: 14px;
    height: 26px;
}

.nn10_up {
    background-position: -390px -132px;
    width: 17px;
    height: 26px;
}
 
.nn10_up0 {
    background-position:-454px -131px;
    width: 16px;
    height: 28px;
}
 
.nn10_up1 {
    background-position:-423px -227px;
    width: 16px;
    height: 28px;
}

/*mulher morena cabelo rabo de cavalo blusa rosa calça azul*/

.nn11 {
    background: url(../img/characters.png);
    width: 17px;
    height: 24px;
}
 
.nn11_down {
    background-position: -550px -166px;
}
 
.nn11_down0 {
    background-position: -551px -197px;
    width: 16px;
    height: 26px;
}

.nn11_down1 {
    background-position:-550px -229px;
    width: 16px;
    height: 26px;
}
 
.nn11_left {
    background-position:-488px -198px;
    width: 17px;
    height: 24px;
}
 
.nn11_left0 {
    background-position:-488px -229px;
    width: 17px;
    height: 25px;
}
 
.nn11_left1 {
    background-position:-488px -165px;
    width: 17px;
    height: 25px;
}

.nn11_right {
    background-position:-517px -134px;
    width: 17px;
    height: 24px;
}
 
.nn11_right0 {
    background-position:-517px -165px;
    width: 17px;
    height: 25px;
}
 
.nn11_right1 {
    background-position:-517px -197px;
    width: 17px;
    height: 25px;
}

.nn11_up {
    background-position: -486px -134px;
    width: 17px;
    height: 24px;
}
 
.nn11_up0 {
    background-position:-550px -133px;
    width: 16px;
    height: 26px;
}
 
.nn11_up1 {
    background-position: -519px -229px;
    width: 16px;
    height: 26px;
}

/*bah*/

.nn12 {
    background: url(../img/characters.png);
    width: 19px;
    height: 24px;
}
 
.nn12_down {
    background-position: -645px -166px;
}

 
.nn12_down0 {
    background-position:-644px -197px;
    width: 19px;
    height: 26px;
}

.nn12_down1 {
    background-position:-646px -229px;
    width: 19px;
    height: 26px;
}
 
.nn12_left {
    background-position: -585px -198px;
    width: 15px;
    height: 24px;
}
 
.nn12_left0 {
    background-position:-585px -165px;
    width: 16px;
    height: 25px;
}
 
.nn12_left1 {
    background-position:-585px -229px;
    width: 15px;
    height: 25px;
}

.nn12_right {
    background-position:-614px -134px;
    width: 15px;
    height: 24px;
}

.nn12_right0 {
    background-position:-613px -165px;
    width: 16px;
    height: 25px;
}
 
.nn12_right1 {
    background-position:-614px -197px;
    width: 15px;
    height: 25px;
}

.nn12_up {
    background-position: -581px -134px;
    width: 19px;
    height: 24px;
}
 
.nn12_up0 {
    background-position:-645px -133px;
    width: 18px;
    height: 26px;
}
 
.nn12_up1 {
    background-position: -614px -229px;
    width: 18px;
    height: 26px;
}
